In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\complete.csv',
                parse_dates = ['Date'])

In [3]:
df_clean = df[['Date', 'Name of State / UT', 'Latitude', 'Longitude', 'Total Confirmed cases', 'Death', 'Cured/Discharged/Migrated']]
df_clean.columns = ['Date', 'State/UT', 'Latitude', 'Longitude', 'Confirmed', 'Deaths', 'Cured']

df_clean['Date'] = df_clean['Date'].dt.date

df_clean['Active'] = df_clean['Confirmed']-(df_clean['Deaths']+df_clean['Cured'])
df_clean['Mortality Rate'] = df_clean['Deaths']/df_clean['Confirmed']
df_clean['Recovery Rate'] = df_clean['Cured']/df_clean['Confirmed']
df_clean.tail()

C:\Users\sreya\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\sreya\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,State/UT,Latitude,Longitude,Confirmed,Deaths,Cured,Active,Mortality Rate,Recovery Rate
1042,2020-04-18,Telengana,18.1124,79.0193,791,18,186,587,0.022756,0.235145
1043,2020-04-18,Tripura,23.9408,91.9882,2,0,1,1,0.000000,0.500000
1044,2020-04-18,Uttar Pradesh,26.8467,80.9462,969,14,86,869,0.014448,0.088751
1045,2020-04-18,Uttarakhand,30.0668,79.0193,42,0,9,33,0.000000,0.214286
1046,2020-04-18,West Bengal,22.9868,87.8550,287,10,55,222,0.034843,0.191638

In [4]:
date_df = pd.pivot_table(df_clean,index  = ['State/UT'], values = 'Confirmed',columns =["Date"])
f_data = date_df.fillna(0).astype('int').reset_index()
f_data.head()

Date,State/UT,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04,2020-02-05,2020-02-06,2020-02-07,...,2020-04-08,2020-04-09,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-15,2020-04-16,2020-04-17,2020-04-18
0,Andaman and Nicobar Islands,0,0,0,0,0,0,0,0,0,...,10,11,11,11,11,11,11,11,11,12
1,Andhra Pradesh,0,0,0,0,0,0,0,0,0,...,305,348,348,363,381,427,483,525,534,603
2,Arunachal Pradesh,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Assam,0,0,0,0,0,0,0,0,0,...,27,28,29,29,29,29,32,33,35,35
4,Bihar,0,0,0,0,0,0,0,0,0,...,38,38,39,60,63,64,66,70,80,85

In [5]:
f_data.to_csv(r'C:\Users\sreya\Desktop\Pythone_File\COVID-19_INDIA\input\covid19-corona-virus-india-dataset\cases_over_time.csv',\
               index = False,mode = 'w+')